main{
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 20px;
}
#carouselExampleControls{
    width: 30%;
    margin-left: 35%;
    height: 600px;
}


.Img--Production{
    width: 100%;
    height: 400px;
}
#main--content div{
    text-align: center;
}

.al-center{
    text-align: center;
}
.personImage{
    width: 50%;
    height: 100px;
}
.personImageMenu{
    width: 50%;
    height:250px;
}